{{#> base}}
    <table role="presentation" class="main">
        <!-- START MAIN CONTENT AREA -->
        <tr>
            <td class="wrapper">
                <table role="presentation">
                    <tr>
                        <td>
                            <p>Hi {{first_name}},</p>
                            <p>Please verify your account to be able to log in</p>
                            <table role="presentation" class="btn btn-primary">
                                <tbody>
                                <tr>
                                    <td>
                                        <table role="presentation">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <a href="{{url}}" target="_blank">Verify your account</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <p>Good luck! Codevo CEO.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- END MAIN CONTENT AREA -->
    </table>
{{/base}}
